{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"
                             ;; Doesn't build with GraalVM :(
                             #_"1.10.0-alpha6"}
        io.forward/yaml {:mvn/version "1.0.9"}
        cli-matic {:git/url "https://github.com/l3nz/cli-matic.git"
                   :sha "52347d19a09259b215a7e9b62770a1447d2499b2"}}}
