[{:apiVersion "apps/v1"
  :kind "Deployment"
  :metadata {:name "kubeedn-nginx"
             :labels {:app "kubeedn-nginx"}}
  :spec {:selector {:matchLabels {:app "kubeedn-nginx"}}
         :minReadySeconds 5
         :template {:metadata {:labels {:app "kubeedn-nginx"}}
                    :spec {:containers [{:name "nginx"
                                         :image "nginx:1.7.9"
                                         :ports [{:containerPort 80}]}]}}}}
 #_{:apiVersion "v1"
  :kind "Service"
  :metadata {:name "kubeedn-nginx"
             :labels {:app "kubeedn-nginx"}}
  :spec {:type "LoadBalancer"
         :ports [{:port 80 :protocol "TCP"}]
         :selector {:app "kubeedn-nginx"}}}]
